<app-header></app-header>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">nOMBRE:</h5>
        <p class="card-text">SERRANO.</p>

        <h5 class="card-title">Imagen</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">pESO:</h5>
        <p class="card-text">45234234.</p>
        <h5 class="card-title">HABILIDAD:</h5>
        <p class="card-text">CAGAR.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
